/*
 *Name: [Katherine Judy]
 *UnityID: [kcjudy]
 *Date: [April 8, 2023]
 *Assignment: [Independent Assignment $]
 *Description: [HTML Webpages]
 */
 # webpages
E115 HTML Assignments
<head> <strong> About Me </strong>
<title> Katherine's Webpage </title>
	
<h1> Welcome </h1>
 <body>
  <p><p style=“color:  ; font-family: Arial;”> Description: <ins> About Me </ins>
  <p> My name is <em> Katherine </em> During my free time while I am not studying I typically like to spend my time gardening in NCSUs greenhouse or playing with my dog. I am a transfer student at <em> NC State University </em> and in my juinor year.
  
	  
 <head> <strong> <p> My Favorite Things </strong> <p> My friends, my dog, and traveling. </p>
p {}

<p> For more information on NCSU's greenhouse: </p>
<a href= "https://phytotron.ncsu.edu/greenhouses" target="_blank" >North Carolina State Univeristy </a>
.class {
    property: value;
}

#id {
    property:value;
}
